#{extends 'layout.html' /}
#{set title:'Home' /}

<div id="home">

    <div id="signin" class="span4 offset4">
        #{form @enter(), class:'form'}
            <p>
                <label for="room"><strong>Negotiation</strong></label>
                <select name="negotiation">
                    <option></option>
                    <option value="negotiation1">Negotiation #1</option>
                </select>
            	#{if user}
            	<br />
            	<strong>Nickname:</strong> ${user.userId}<br />
            	#{/if}
            </p>
            <p>
                <label></label>
                <input type="submit" id="enter" class="btn btn-primary" value="Start">
            </p>
        #{/form}
    </div>

</div>