<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Negotiate - v0.0.1-prototype</title>
	<script src="@{'public/javascripts/jquery-1.8.3.js'}"></script>
	<script src="@{'public/javascripts/jquery-ui-1.9.2.js'}"></script>
	<script src="@{'public/javascripts/bootstrap.js'}"></script>

    <link rel="stylesheet" type="text/css" href="@{'public/stylesheets/bootstrap.css'}">
    <link rel="stylesheet" type="text/css" href="@{'public/stylesheets/bootstrap-responsive.css'}">
    <link rel="stylesheet" type="text/css" href="@{'public/stylesheets/main.css'}">
	<style>
		.column { text-align: center;}
		.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
		.ui-sortable-placeholder * { visibility: hidden; }
	</style>

</head>
<body>
 
<div id="wrap">
	<div class="container">
		#{if user}
		<div class="page-header">
			<h3>NegoBoard <small>0.0.1-PROTOTYPE</small></h3>
			<div class="navbar navbar-inverse">
				<div class="navbar-inner" style="padding-left:0px;padding-right:0px">
					<div class="container">
						<ul class="nav">
							<li><a href="@{Application.index}"><i class="icon-home icon-white"></i> </a></li>
							<li class="divider-vertical" style="margin-left:0px"></li>
						</ul>
						<ul class="nav pull-right">
							<li class="divider-vertical" style="margin-left:0px"></li>
							<li class="pull-right"><a href="@{CRUD.index}"><i class="icon-cog icon-white"></i> </a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		#{/if}
		#{else}
		<br />
		#{/else}
		#{if flash.success}
		<div class="row-fluid">
			<div class="alert alert-info alert-block span6 offset3">
				<a class="close" data-dismiss="alert" href="#">&times;</a>
				<h4 class="alert-heading"></h4>
				<p style="text-align:center">${flash.success}</p>
			</div>
		</div>
		#{/if}
		#{if flash.error}
		<div class="row-fluid">
			<div class="alert alert-error alert-block span6 offset3">
				<a class="close" data-dismiss="alert" href="#">&times;</a>
				<h4 class="alert-heading"></h4>
				<p style="text-align:center">${flash.error}</p>
			</div>
		</div>
		#{/if}
		#{doLayout /}
	</div>
	<div id="push"></div>
</div>

#{if user}
<div id="footer">
	<div class="container">
		<p class="muted credit">
			<small><a href="@{Secure.logout}">Logout</a> - Copyleft 2012.</small>
		</p>
	</div>
</div>
#{/if}
</body>
</html>
